{% extends 'layout.html' %} {% block title %}My Page{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="../style/index.css">
<script src="../plugins/jquery/jquery-1.10.2.min.js"></script>
<script src="../plugins/systemjs/system.js"></script>
<script src="https://cdn.bootcss.com/axios/0.16.2/axios.js"></script>
<script src="../script/add.js"></script>
{% endblock %} {% block content %}
<div class="hand" id="thumb">
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="finger"></div>
    <div class="finger thumb"></div>
    <div class="arm"></div>
</div>
<span class="hide" id="animation">+1</span>

<script>
    SystemJS.config({
        baseURL: '../script'
    });
    SystemJS.import('index.js').then(function(m) {
        $.extend({
            thumb: m.default.Thumb
        });
        callback();
    });

    function callback() {
        var thumb = new $.thumb(0, $("#thumb"));
        thumb.clickAction();
    }
</script>
{% endblock %}